.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }

  mat-card
  {
    max-width: 510px;
    padding: 25px;
    margin-top: 2%;
   
  }

  /*
   display: block;
    margin-left: auto;
    margin-right: auto;*/
  
  .example-full-width {
    width: 10%;
    margin-right: 1%;
  }

  div {
      color: red;
      padding-top: -4px;
  }

  mat-table {
    width: 70%;
    
  }

  ul{
      width: 70%;
      margin:0 auto;

  }
  


  