<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  
  <body>
    <mat-card class="example-card">
      <mat-card-header>
        <h2>Login</h2>
      </mat-card-header>
  
      <div class = "top">
        <div class="left-div">
          <p>Login with:</p>
            <button mat-raised-button class="btn-social btn-google" (click) = "onLoginGoogle()">
              <span class="fa fa-google"></span> 
              &nbsp; Google
            </button>
        </div> 
      </div>
  
      <mat-card-actions>  
        <p>Or login with user:</p>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input  [(ngModel)] = "email" 
                    name = "email" 
                    matInput placeholder="Email" >
          </mat-form-field>
          <div *ngIf = "flag && error == 'auth/invalid-email'">{{ output }}</div>
          
          <mat-form-field class="example-full-width">
              <input  type = "password"
                      [(ngModel)] = "password" 
                      name = "password" 
                      matInput placeholder="Password">
            </mat-form-field>
          
            
            <button mat-raised-button 
            (click)="login()">Login</button>
          
          </form>
      </mat-card-actions>
    </mat-card>
  </body>
  