

<mat-card class="example-card">

  <mat-card-content>
      <a routerLink = "">todos</a>-
      <a routerLink = "register">register</a>-
      <!--<a routerLink = "register">reg</a>-->
      <a *ngIf = "!(authService.user | async)"routerLink = "login">Login</a> <!--אם אין אף אחד מחובר-->
      <button *ngIf = "(authService.user | async)" (click) = "logout()">Logout</button> <!--אם יש מישהו מחובר-->
  </mat-card-content>
</mat-card>
<div>
